<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ccf3d2b0-3715-4674-af32-b60833a6bb47" name="Project 8 TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ccf3d2b0-3715-4674-af32-b60833a6bb47fileName">Project-8-TestSuite-1</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
